H1 {
    color: #FF5733;
    font-size: 300%;
    font-family: "Comic Sans MS";
    text-align: center;
}
H2 {
    color: #DE1348;
    font-size: 200%;
    font-family: "verdana";
    text-align: center;
}
